body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: red;
    min-height: 100vh;
    width: 100vw;
}

  
.container {
    width: 100%;
    min-height: 100vh;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

.gun-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.gunDetailsDiv {
    display: flex;
    flex-direction: column;
    background-color: red;
}

.gun-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}


/* GUNS DETAILS CSSS */
.gun-details-main{
    height: 100vh;
    width: 100vw;
    background: black;
    display: flex;
    align-items: center;
}
.gun-details-container{
    height: 50vh;
    width: 100vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gun-image{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gun-details{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#back-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#back-button:hover {
    background-color: #0056b3;
}
